h1,
h2,
p {
  text-align: center;
}

body {
  background-image: url(cafe.jpg);
}

.menu {
  width: 80%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
}

.flavor,
.dessert {
  text-align: left;
  width: 74%;
}

.price {
  text-align: right;
  width: 25%;
}

.item p {
  display: inline-block;
}
