body {
  background-image: url(cafe.jpg);
  font-family: sans-serif;
}

h1,
h2,
p {
  text-align: center;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h1,
h2 {
  font-family: Impact, serif;
}

hr {
  height: 2px;
  background-color: brown;
  border-color: brown;
}

.established {
  font-style: italic;
}

.menu {
  width: 80%;
  max-width: 500px;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.flavor,
.dessert {
  text-align: left;
  width: 74%;
}

.price {
  text-align: right;
  width: 25%;
}

.item p {
  display: inline-block;
}
